@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<p>This project will allow to publish information about location of public transport.</p>
<p>And review information about their locations on the map.</p>
