@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/css/home_index.css">
<script src="~/js/home_index.js" >
</script>

<div id="map-container" class="col-md-6"></div>

